version: "3.9"

services:
  artemis:
    image: apache/activemq-artemis:latest
    container_name: activemq-artemis
    restart: unless-stopped

    ports:
      - "61616:61616"   # Core / OpenWire / AMQP
      - "5672:5672"     # AMQP
      - "8161:8161"     # Web Console
      - "1883:1883"     # MQTT
      - "61613:61613"   # STOMP

    environment:
      ARTEMIS_USER: admin
      ARTEMIS_PASSWORD: admin
      ARTEMIS_MIN_MEMORY: 512M
      ARTEMIS_MAX_MEMORY: 1024M
      ENABLE_JMX: "true"

    volumes:
      - artemis-data:/var/lib/artemis-instance
      - artemis-logs:/var/log/artemis

volumes:
  artemis-data:
  artemis-logs:
